* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GRIDS CSS */

/* BODY */

body {
  font-family: "Oswald", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0;
  grid-template-rows: auto auto 1fr auto auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

header,
nav,
footer {
  background: #043343;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/* HEADER */

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #043343;
  color: #b99581;
}

.header__searchBar {
  position: relative;
  padding: 5px;
}

.header__searchBar input {
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #043343;
  outline: none;
  border: 1px solid #b99581;
  border-radius: 30px;
}

.header__searchBarBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: #043343;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: white;
  font: 20px;
  border: 1px solid #b99581;
  border-radius: 50%;
  cursor: pointer;
}

.header__searchBar:hover input {
  width: 240px;
}

.header__searchBar input:focus {
  width: 240px;
}

/* NAVBAR */
.navContainer {
  background-color: #043343;
  color: #b99581;
  text-align: center;
  text-size-adjust: 20px;
}

.nav__title {
  visibility: collapse;
  padding: 1.5rem 0;
  font-size: 20px;
}
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 12px;
}

.nav__link {
  color: #b99581;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 0.65;
}

.nav__item {
  margin: 0 1.5rem 0 1.5rem;
}

/*FOOTER*/
.footerContainer {
  background-color: #043343;
  padding: 0.5rem 0;
}

.footerList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerList__link {
  color: #b99581;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.footerList__link:hover {
  opacity: 0.65;
}

.footerList__item {
  margin: 0 0 0 0;
}

.footerSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 0 1rem 0 0;
}
.footerSocial a {
  color: #b99581;
  text-decoration: none;
  margin-left: 1rem;
}

.footerSocial a:hover {
  opacity: 0.65;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "footer footer";
  }

  .headerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__searchBar input {
    width: 0px;
    transition: all 0.6s ease;
  }

  .footerList {
    flex-direction: row;
  }

  .footerSocial {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "nav main aside"
      "nav main aside"
      "nav main aside"
      "footer footer footer";
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__searchBar input {
    width: 0px;
    transition: all 0.6s ease;
  }

  .navContainer {
    flex-direction: column;
    font-size: 12px;
  }

  .nav__title {
    visibility: visible;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  .nav__link {
    color: #b99581;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
  }

  .footerList {
    flex-direction: row;
    justify-content: center;
  }

  .footerList__item {
    margin: 0 0 0 1.5rem;
  }

  .footerSocial {
    justify-content: center;
  }
}
